atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
importlib-metadata==3.4.0
iniconfig==1.1.1
jsonpickle==2.0.0
mysql-connector-python==8.0.23
packaging==20.9
pluggy==0.13.1
pony==0.7.14
protobuf==3.14.0
py==1.10.0
PyMySQL==1.0.2
pyparsing==2.4.7
pytest==6.2.2
selenium==3.141.0
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.3
zipp==3.4.0
